html, body {
  font-size: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  display: flex;
}

#canvas {
  flex: 7;
}

#infoPanel {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 100px;
  vertical-align: top;
}

#addAiForm {
  display: flex;
  width: 100%;
}

#addAiUrl {
  flex: 1;
}

#aiList {
  background-color: #444;
  color: white;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}

#aiList a {
  color: #0AF;
}

#aiList iframe {
  flex: 1;
}